#container{
    width: 900px;
    height: 600px;
    background-color: rgb(133, 77, 22);
    margin: 20px;
    padding-bottom: 2px;
    
}

#box1{
    width: 800px;
    height: 500px;
    background-color: rgb(99, 84, 43);
    margin: 25px;
    padding-top: 55px;
    padding-left: 54px;
    padding-top: 4px;
}

#box2{
    width: 500px;
    height: 400px;
    background-color: rgb(98, 117, 76);
    margin: 25px;
    padding-left: 200px;
    padding-top: 55px;
 
}

#box3{
    width: 1200px;
    height: 50px;
    background-color:rgb(216, 0, 0);
    padding-top: 20px;
}
h1{
    color: #8e9795;
    font-size: xx-large;

}
body{
    background-color: rgb(25, 68, 68);
    
}
p{
    font-size: large;
    font-weight: bold;
    color: #fab7b7;
}